extends layout
block content
        #group
            .container(id='#fadein')
                // login-messages from server
                if (messages.info)
                  for message in messages.info
                    .alert.alert-info
                      span= message
                if (messages.success)
                  for message in messages.success
                    .alert.alert-success
                      span= message
                .row
                    .col-sm
                    .col-auto.mt-2
                        a.btn.btn-primary(data-parent='#group', data-toggle='collapse', href='#collapseSettings', role='button', aria-expanded='false', aria-controls='collapseExample')
                            | Kontodaten
                        button.btn.btn-primary(data-parent='#group', type='button', data-toggle='collapse', data-target='#collapsedeactivate', aria-expanded='false', aria-controls='collapseExample')
                            | Konto Löschen
                    .col-sm
        #collapsedeactivate.collapse
            .container.bg-light.mt-5.border
                p
                    | Möchtest du dein Konto wirklich Löschen? Alle deine erstellten Kurse
                    | und nicht Exportiere Badges werden gelöscht!
                form(action='/nutzer/loeschen', method='POST')
                    button.btn.btn-danger.btn-lg.btn-block.mt-5(type='submit') Konto Löschen
                p
        #collapseSettings.collapse
            .card.card-body
                .container.bg-light.mt-5.border.fadein
                    .row
                        .col-lg
                        .col-lg-6
                            h1 Konto Anpassung
                            br
                            if(user)
                              form#changeInformation(action='/nutzer/profil', method='POST')
                                  .form-row
                                      .form-group.col-auto
                                          label(for='inputEmail4') Email
                                          input#inputEmail4.form-control(value=user.email, name='email', type='email', placeholder='Email@example.com', data-toggle='tooltip', data-placement='top', title='Gültige Email Adresse')
                                          span#email.badge.badge-danger
                                      .form-group.col-auto
                                          label(for='inputRole') Rolle
                                          input#inputRole.form-control(value=user.role[0], readonly, type='text', data-toggle='tooltip', data-placement='top', title='Ihre aktuelle Rolle.')
                                          span#email.badge.badge-danger
                                      //.form-group.col-auto
                                      //    label(for='inputPassword') Passwort
                                      //    input#inputPassword.form-control(type='password', placeholder='Password', data-toggle='tooltip', data-placement='top', title='Passwort mit mindestens 5 Zeichen')
                                      //.form-group.col-auto
                                      //    label(for='inputPassword2') Passwort Bestätigen
                                      //    input#inputPassword2.form-control(type='password', placeholder='Password', data-toggle='tooltip', data-placement='top', title='Identisches Passwort')
                                      //    span#pwtext.badge.badge-danger
                                  .form-row
                                      .form-group.col-auto
                                          label(for='inputVoname') Vorname
                                          input#inputVoname.form-control(value=user.firstname, readonly, type='text', placeholder='Max', data-toggle='tooltip', data-placement='top', title='Vorname')
                                          span#vorname.badge.badge-danger
                                      .form-group.col-auto
                                          label(for='inputNachnahme') Nachnahme
                                          input#inputNachnahme.form-control(value=user.lastname, name='lastname', type='text', placeholder='Mustermann', data-toggle='tooltip', data-placement='top', title='Nachnahme')
                                          span#nachnahme.badge.badge-danger
                                  .form-row
                                      .form-group.col-auto
                                          label(for='inputCity') Stadt
                                          input#inputCity.form-control(value=user.city, name='city', type='text', placeholder='Musterstadt', data-toggle='tooltip', data-placement='top', title='Wohnort')
                                          span#city.badge.badge-danger
                                      .form-group.col-auto
                                          label(for='inputZip') Postleitzahl
                                          input#inputZip.form-control(value=user.postalcode, name='postalcode', type='number', min='10000', max='99999', placeholder='00000', data-toggle='tooltip', data-placement='top', title='Postleitzahl des Wohnortes')
                                          span#plz.badge.badge-danger
                                  .form-row
                                      .form-group.col-auto
                                          label(for='inputDate') Geburtsdatum
                                          input#inputDate.form-control(value=user.birthday.split('T')[0], readonly, type='date', data-toggle='tooltip', data-placement='top', title='Geburtsdatum')
                                          span#date.badge.badge-danger
                                  button#Send.btn.btn-primary(type='submit') Speichern
                                  script.
                                    user = {
                                      email: "#{user.email}",
                                      lastname: "#{user.lastname}",
                                      postalcode: "#{user.postalcode}",
                                      city: "#{user.city}",
                                    }
                                  button.btn.btn-danger(type='button', onclick='resetUserInfo(user)') Reset
                        .col-lg
                    br
        script(src='/jquery/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        script(src="/javascripts/userInformation.js")
