extends layout


block content
  link(href='/leaflet/leaflet.css' rel='stylesheet')
  // Filter
  #group
      .container(id='#fadein')
          // messages from server
          if (messages.error)
            for message in messages.error
              .alert.alert-danger
                span= message
          if (messages.success)
            for message in messages.success
              .alert.alert-success
                span= message
          if (messages.info)
            for message in messages.info
              .alert.alert-info
                span= message
          .row
              .col-sm
              .col-auto.mt-2
                  button.btn.btn-primary(data-parent='#group', type='button', data-toggle='collapse', data-target='#collapsedeactivate', aria-expanded='false', aria-controls='collapseExample')
                      | Filtern
              .col-sm
  #collapsedeactivate.collapse
      .container.bg-light.mt-5.border
          p
            label(for='inputName') Name des Kurses:
            input#inputName.form-control(type='text',data-toggle='tooltip', data-placement='top', placeholder='Kursname', title='Name des Kurses')
          p
            label(for='inputPlace') Adresse des Kurses:
            input#inputPlace.form-control(type='text', onchange="adressSearch()" onkeyup="if (event.keyCode === 13) adressSearch()", data-toggle='tooltip', data-placement='top', placeholder='Adresse', title='Adresse des Kurses')
            input#inputCoordinates.form-control(type='hidden')
            div#adressResult
          p
            label(for='inputRadius') Suchradius:
            input#inputRadius.form-control(type='number', data-toggle='tooltip', data-placement='top', placeholder='Radius', title='Suchradius des Kurses')
          p
            label(for='inputTopic') Thema des Kurses:
            input#inputTopic.form-control(type='text', data-toggle='tooltip', data-placement='top', placeholder='Thema', title='Thema des Kurses')
          p
            label(for='inputDate') Der Kurs beginnt frühestens am:
            input#inputDate.form-control(type='date', data-toggle='tooltip', data-placement='top', placeholder='Beginndatum', title='Beginndatum')
          p
            label(for='inputDate2') Der Kurs endet spätestens am:
            input#inputDate2.form-control(type='date', data-toggle='tooltip', data-placement='top', placeholder='Enddatum', title='Enddatum')

          button#submit.btn.btn-primary(type='submit')
                | Filtern
          p

  p
  if(courses.length > 0)
    // Karte Leaflet
    div#map(style='height:220px;')
    script(src='/leaflet/leaflet.js')
    script(src='/javascripts/leaflet.js')
    script.
      addMarkers(!{JSON.stringify(courses)})

    p
    table#myTable
      tr.header
        th(style='width:30%;') Kursname
        th(style='width:30%;') Kursort (Postleitzahl)
        th(style='width:10%;') Kursanbieter
        th(style='width:30%;') Kursthema
        th(style='width:30%;') Beginndatum
        th(style='width:30%;') Enddatum

        for course in courses
          tr
            if(new Date(course.startdate) >= Date.now())
              td
                a(href='/kurse/'+course._id)=course.name
            else
              td=course.name
            td= course.address
            td= course.courseprovider
            td= course.topic
            td= new Date(course.startdate).toLocaleDateString('de-DE', {year: 'numeric', month: '2-digit', day: '2-digit'})
            td= new Date(course.enddate).toLocaleDateString('de-DE', {year: 'numeric', month: '2-digit', day: '2-digit'})
  else
    p Keine Kurse verfügbar.

  script(src='/javascripts/adresssearch.js')
  script(src='/javascripts/filter.js')
