
extends layout
block content

    .container.bg-light.mt-5.border.fadein(id='#fadein')
        // messages from server
        if (messages.error)
          for message in messages.error
            .alert.alert-danger
              span= message
        if (messages.success)
          for message in messages.success
            .alert.alert-success
              span= message
        if (messages.info)
          for message in messages.info
            .alert.alert-info
              span= message
        .row
            .col-lg
            .col-lg-6
                h1 Open Badges Kursbearbeitung
                br
                form(action='/kurse/'+course._id +'/bearbeiten', method="POST")
                    .form-row
                        .form-group.col-auto
                            label(for='inputKursName') Kursname:
                            input#inputKursName.form-control(name='name', value=course.name, type='text' placeholder='Java-Kurs' data-toggle='tooltip' data-placement='top' title='Gültiger Name' required)
                        .form-group.col-auto
                            label(for='inputKursanbieter') Kursanbieter:
                            input#inputKursanbieter.form-control(name="courseprovider", value=course.courseprovider, type='text' placeholder=' Institut oder Privatname ' data-toggle='tooltip' data-placement='top' title='Gültiger Kursanbieter' required)
                        .form-group.col-auto
                            label(for='inputZeitraum') Zeitraum:
                            input#inputZeitraum.form-control(name="startdate", value=course.startdate.split('T')[0], type='date' placeholder='20.01.2019' data-toggle='tooltip' data-placement='top' title='Gültiger Zeitraum' required)
                            span#pwtext.badge.badge-danger
                        .form-group.col-auto
                            label(for='inputvonbis') von-bis
                            input#inputvonbis.form-control(name="enddate", value=course.enddate.split('T')[0], type='date' placeholder='20.02.2019' data-toggle='tooltip' data-placement='top' title='Gültiger Zeitraum' required)
                        .form-group.col-auto
                            label(for='inputSize') Kursgröße
                            input#inputSize.form-control(name="size", value=course.size, type='number' placeholder='10' data-toggle='tooltip' data-placement='top' title='Gültige Kursgröße' required)
                    .form-row
                        .form-group.col-auto
                            label(for='inputPlace') Adresse:
                            input#inputPlace.form-control(name="address", value=course.address, type='text', onchange="adressSearch()" onkeyup="if (event.keyCode === 13) adressSearch()", placeholder='Baumstraße 2' data-toggle='tooltip' data-placement='top' title='Straße + Hausnummer' required)
                            div#adressResult
                        input#inputCoordinates.form-control(name="coordinates", type='hidden', value=JSON.stringify(course.coordinates.coordinates), required)
                        .form-group.col-auto
                            label(for='inputPLZ') Postleitzahl
                            input#inputPLZ.form-control(name="postalcode", value=course.postalcode, type='number' min='10000' max='99999' placeholder='04936' data-toggle='tooltip' data-placement='top' title='Postleitzahl des Wohnortes' required)
                    .form-row
                        .form-group.col-auto
                            label(for='inputThema') Thema des Kurses:
                            input#inputThema.form-control(name="topic", value=course.topic, type='text' placeholder='Java programmieren lernen' data-toggle='tooltip' data-placement='top' title=' ' required)
                        .form-group.col-auto
                            label(for='inputBeschreibung') Kurs Beschreibung:
                            input#inputBeschreibung.form-control(name="description", value=course.description, type='text' placeholder='Eine Beschreibung des Kurses' data-toggle='tooltip' data-placement='top' title='Gültige Beschreibung des Kurses' required)
                    .form-row
                        .form-group.col-auto
                            label(for='inputVorraussetzungen') Vorraussetzungen:
                            input#inputVorraussetzungen.form-control(name="requirements", value=course.requirements, type='text' placeholder=' z.B Java Grundlagen belegt ' data-toggle='tooltip' data-placement='top' title='Gültige Vorraussetzungen' required)

                    .form-row
                        .form-group.col-auto
                            label(for='inputlocalBadge') Lokale Badges:
                            select#inputlocalBadge.form-control(name="localbadge", multiple, style="width:250px;" data-toggle='tooltip' data-placement='top' title='Aus der Liste wählen' required)
                              for badge in badges
                                if(badge.global == false)
                                  for localbadge in course.localbadge
                                    if(badge._id == localbadge._id)
                                      option(value=badge._id, selected)=badge.name
                                    else
                                      option(value=badge._id)=badge.name
                        .form-group.col-auto
                            br
                            a.btn.btn-primary(href='/badge/registrierung') neues Badge erstellen
                    .form-row
                        .form-group.col-authorization
                            label(for='inputglobalBadge') Globale Badges:
                            select#inputglobalBadge.form-control(name="badge", multiple, style="width:250px;" data-toggle='tooltip' data-placement='top' title='Aus der Liste wählen' required)
                              for badge in badges
                                if(badge.global == true)
                                  for global in course.badge
                                    if(badge._id == global._id)
                                      option(value=badge._id, selected)=badge.name
                                    else
                                      option(value=badge._id)=badge.name
                    .form-row
                        button#send.btn.btn-primary(type='submit') Senden
            .col-lg
        br

    script(crossorigin="anonymous" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script(src='/javascripts/adresssearch.js')
