doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
block content
    h1= title
    p Welcome to #{title}
    link#bootstrap-css(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/jquery/jquery.min.js')
    // ---- Include the above in your HEAD tag --------
    .wrapper.fadeInDown
        // login-messages from server
        if (messages.loginError)
          for message in messages.loginError
            .alert.alert-danger
              span= message
        if (messages.logoutSuccess)
          for message in messages.logoutSuccess
            .alert.alert-success
              span= message
        #formContent
            // Tabs Titles
            // Icon
            .fadeIn.first
            // Beispiel Bild
              img#icon(src='https://miro.medium.com/max/1280/0*4ty0Adbdg4dsVBo3.png' height='100' width='200' alt='User Icon')
            // Login Form
            form(action='/nutzer/anmelden' method='POST')
                input#username.fadeIn.second(type='text' name='username' placeholder='username')
                input#password.fadeIn.third(type='text' name='password' placeholder='password')
                input.fadeIn.fourth(type='submit' value='Log In')
            // Remind Passowrd
            #formFooter
                a.underlineHover(href='#') Forgot Password?
            #container.col
                p Button
                a(href='./start') hier
