extends layout


block content
  #group
      .container(id='#fadein')
          // messages from server
          if (messages.error)
            for message in messages.error
              .alert.alert-danger
                span= message
          if (messages.success)
            for message in messages.success
              .alert.alert-success
                span= message
          if (messages.info)
            for message in messages.info
              .alert.alert-info
                span= message
          .row
              .col-sm

  h1 Teilnehmer
  if(participants.length > 0)
    p
    table#myTable
      tr.header
        th Vorname
        th Nachname
        th Stadt
        th PLZ
        th Geburtsdatum
        th Email

        for participant in participants
          tr
            td= participant.firstname
            td= participant.lastname
            td= participant.city
            td= participant.postalcode
            td= new Date(participant.birthday).toLocaleDateString('de-DE', {year: 'numeric', month: '2-digit', day: '2-digit'})
            td
              a(href="mailto:"+participant.email)=participant.email
  else
    p Aktuell sind dem Kurs keine Teilnehmer zugeordnet.
